.login_form{
    margin: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.f_label{
    font-size: 16pt;
    margin: 10pt;
}

.f_input{
    margin: 10pt;
    font-size: 16pt;
}
.role{
    border-radius: 20px;
    padding: 5pt;
    margin: 10pt;
    font-size: 16pt;
}
.kuld{
    padding: 5pt;
    margin: 20pt;
    background-color: gray;
    color: white;
    font-size: 16pt;
    border: none;
}

.kuld:hover{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}